<div id="section">
  
  <div class="title">
    <h1>Client Version of Naive Bayes Classifier Analysis</h1>
    <span class="date">Last Counted : {{lastDate}}</span>
  </div>

  <section id="section-count">

    <div class="header">Replieses</div>

    <div class="count-chart">

      <canvas
      baseChart
      [datasets]="countChartData"
      [labels]="countChartLabels"
      [options]="chartOption"
      legend="true"
      chartType="bar"></canvas>

    </div>

  </section>

  <section id="section-sentiment">

    <div class="header">Statuses</div>

    <div class="sentiment-chart">

      <canvas
      baseChart
      [datasets]="sentimentChartData"
      [labels]="sentimentChartLabels"
      [options]="chartOption"
      legend="true"
      chartType="line"></canvas>

    </div>

  </section>

</div>